body {
    margin: 0;
    padding: 2rem;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: gainsboro !important;
}

.title{
    font-size:2.5rem;
    height:fit-content;
}

.content-container{
    display:flex;
    width:fit-content;
    /* background-color:skyblue !important; */
}

.list-group-container{
    max-width:55rem;
    width:55rem;
}

.info-container{
    display:inline-block;
    max-width:55rem;
    width:55rem;
    padding:2rem;
    background-color: pink !important;
}