body {
    margin: 0;
    padding: 2rem;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: gainsboro !important;
}

.title{
    font-size:2.5rem;
    height:fit-content;
    width:fit-content;
    display:inline;
}

.refresh-button{
    margin-left:0.75rem;
    margin-bottom:1.25rem;
    padding:0 !important;
    width:2rem;
    height:2rem;
}
 

.content-container{
    display:flex;
    width:fit-content;
    /* background-color:skyblue !important; */
}

.list-group-container{
    max-width:55rem;
    width:55rem;
}

.info-container{
    display:inline-block;
    max-width:55rem;
    width:55rem;
}

.card{
    max-width:55rem !important;
    width:55rem !important;
    height:100% !important;
}

.update-notes-container{
    height:1.5rem;
}

.weather-container{
    padding-top:1rem !important;
}